//Pacific Beach Sans Font
@font-face {
   font-family: 'Pacific Beach';
   src: url('../fonts/PacificBeach-Regular.otf') format('opentype');
   font-weight: normal;
}

//Pacific Beach Script Font
@font-face {
   font-family: 'Pacific Beach Script';
   src: url('../fonts/PacificBeach-Script.otf') format('opentype');
   font-weight: normal;
}

//De Valencia Font
@font-face {
   font-family: 'De Valencia';
   src: url('../fonts/DeValencia.otf') format('opentype');
   font-weight: normal;
}

//Source Sans Pro Font
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
   font-weight: normal;
}

//Source Sans Pro Light Font
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.otf') format('opentype');
   font-weight: lighter;
}

//Source Sans Pro Extra Light Font
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-ExtraLight.otf') format('opentype');
   font-weight: 100;
}

//Source Sans Pro Bold Font
@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Semibold.otf') format('opentype');
   font-weight: bold;
}
