//Valencia Font
@font-face {
   font-family: 'Valencia';
   src: url('../fonts/Valencia.woff') format('woff');
   font-weight: normal;
}

//De Valencia Font
@font-face {
   font-family: 'De Valencia';
   src: url('../fonts/DeValencia.otf') format('opentype');
   font-weight: normal;
}
