@import './index.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
   font-family: 'Open Sans', sans-serif;
}

.ui.form {
   .ui.input {
      input {
         border: 1px solid $border-grey-marmol;
         font-size: 16px;
      }
   }

   .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   .ui.button.submit {
      background-color: $background-chocolate;
      color: $font-white;
   }
}
