.tabs-product {
   margin-top: 1.5rem;
   .ui.tab {
      padding: 0;
   }

   &__ingredients,
   &__nutrition {
      padding: 15px;

      h2 {
         color: $font-chocolate;
         font-size: 1.5rem;
         font-family: 'Flama', Helvetica, sans-serif;
      }

      h3 {
         font-size: 1rem;
         color: $font-cocoa;
         text-align: justify;
         font-family: 'Source Sans Pro', Helvetica, sans-serif;
      }
   }
}
