.payment {
   .title {
      width: max-content;
      background-color: $background-cocoa;
      color: $font-white;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
   }

   .data {
      background-color: $background-grey-marmol;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      padding: 15px;

      .form-payment {
         width: 50%;

         @media (max-width: 1200px) {
            width: 60%;
         }

         @media (max-width: 992px) {
            width: 80%;
         }

         @media (max-width: 768px) {
            width: 100%;
         }
      }
   }
}
