.header-product {
   margin-bottom: 8rem;
   &.ui.grid {
      margin: 0;
   }

   .ui.fluid.image {
      height: 100%;
      object-fit: cover;

      @media (max-width: 992px) {
         border: 3px inset #d37b00;
      }

      @media (max-width: 768px) {
         margin-top: 1rem;
      }
   }

   .carousel-screen {
      .slick-arrow {
         &:before {
            font-size: 35px;
            color: $font-honey;
         }

         &.slick-next {
            right: 10px;
         }

         &.slick-prev {
            left: -6px;
         }
      }
   }

   &__title {
      position: relative;
      background-color: $background-honey;
      padding: 1.5rem;
      padding-right: 2.8rem;
      color: $font-marmol;
      text-align: start;

      h6 {
         font-weight: bold;
         font-size: 1.6rem;
         font-family: "Valencia", Helvetica, sans-serif;

         @media (max-width: 992px) {
            font-size: 1.4rem;
         }

         @media (max-width: 576px) {
            font-size: 1.8rem;
         }
      }

      p {
         margin: 0;
         text-align: start;
         font-size: 1.2rem;
         padding-top: 10px;
         color: $font-grey-marmol;
         font-family: "Open Sans";
         font-weight: lighter;

         @media (max-width: 992px) {
            font-size: 1rem;
         }
      }

      .ui.loader {
         left: 96.7% !important;
         top: 30% !important;
      }

      i.icon {
         position: absolute;
         height: 61%;
         top: 0;
         right: 9px;
         display: flex;
         align-items: center;
         font-size: 1.5rem;
         opacity: 1 !important;

         @media (max-width: 576px) {
            top: 50%;
         }

         &.like {
            color: $font-red-wine;
         }
      }
   }

   &__delivery {
      text-align: center;
      color: $font-cocoa;
      font-weight: bold;
      font-size: 18px;
      padding: 10px 0;
   }

   &__description {
      background-color: $background-grey-marmol;
      padding: 2rem 1.5rem;
      font-size: 1.2rem;
      color: $font-cocoa;
      text-align: justify;
      font-weight: bold;
      font-family: "Open Sans", Helvetica, sans-serif;
   }

   &__amount {
      padding-top: 1rem;

      .ui.action.input {
         @media (max-width: 576px) {
            justify-content: center;
         }
      }

      &-less {
         border-radius: 0.28571429rem 0 0 0.28571429rem !important;

         i {
            margin: auto !important;
         }
      }

      &-more {
         i {
            margin: auto !important;
         }
      }

      input {
         max-width: 35% !important;
         border-radius: 0 !important;
         text-align: center !important;
         font-size: 1.5rem !important;
         margin: 0 !important;
         padding: 0.5rem 0 !important;
      }
   }

   &__buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $background-honey;
      color: $font-marmol;
      padding: 15px 20px;
      margin-top: 15px;

      @media (max-width: 576px) {
         flex-direction: column;
      }

      &-price {
         display: flex;
         flex-direction: column;

         > p {
            text-align: start;
            color: $font-cocoa;
            margin: 0;
         }

         &-actions {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            > p {
               margin: 0;
               font-weight: bold;

               &:first-of-type {
                  font-size: 25px;

                  @media (max-width: 576px) {
                     font-size: 20px !important;
                  }
               }

               &:last-of-type {
                  font-size: 40px;
                  color: $font-marmol;

                  @media (max-width: 576px) {
                     font-size: 30px !important;
                  }
               }
            }
         }
      }

      &-button.ui.button {
         position: relative;
         width: 200px;
         background-color: #4b3424 !important;
         color: $font-marmol !important;
         font-size: 18px;
         padding: 19px 0;
         left: -20px;
         transition: 0.2s;

         @media (max-width: 576px) {
            font-size: 14px;
            left: 0px;
            padding: 1rem;
            width: 100%;
            margin-right: 0;
            margin-top: 1rem;
         }

         &:hover {
            left: -10px;

            @media (max-width: 576px) {
               left: 0px;
            }
         }

         &:after {
            position: absolute;
            top: 10px;
            right: -15px;
            width: 36px;
            height: 36px;
            border-radius: 10px 4px 10px 0;
            -ms-transform: rotate(45deg) skew(15deg, 15deg);
            transform: rotate(45deg) skew(15deg, 15deg);
            background-color: #4b3424;
            content: "";

            @media (max-width: 576px) {
               top: 0px;
               right: 0px;
               width: 0px;
               height: 0px;
               border-radius: 0;
            }
         }
      }
   }
}
