.top-bar {
   height: 90px;
   background-color: $background-chocolate;

   .ui.grid {
      margin: 0;
      padding: 0;
      .column {
         padding: 0;
      }
   }

   &__left {
      display: flex !important;
      align-items: center;
      padding-top: 0px !important;
      padding-bottom: 0px !important;

      img {
         height: 70px;
         transition: all 0.5s;

         &:hover {
            transform: translateX(-15px);
         }
      }
   }

   &__right {
      display: flex !important;
      align-items: center;
      justify-content: flex-end;

      .ui.icon.input > input {
         padding-right: 5px !important;
      }

      .list-icons {
         padding-top: 1rem;
         padding-left: 1.5rem;

         i {
            color: $font-marmol;
            font-size: 1.5rem !important;
         }
      }

      .ui.input {
         align-items: center;
         margin-right: 25px;

         input {
            background-color: transparent !important;
            border: 0px;
            border-bottom: 2px solid $border-white;
            border-radius: 0px;
            color: $font-white !important;
            padding: 5px 0px;
            width: 220px;
            font-size: 16px;
            transition: width 0.7s;

            &:focus {
               width: 350px;
            }
         }

         i {
            color: $font-white;
            opacity: 1 !important;
            font-size: 25px;
            right: -50px !important;
         }
      }
   }
}
