.basic-layout {
   padding: 0 !important;

   .content {
      padding: 0 !important;
   }

   a {
      text-decoration: none;
   }
}

@media (max-width: 768px) {
   .ui.container {
      margin: 0 !important;
   }
}
