.cart-empty {
   &-container {
      padding: 0 10rem;
      min-height: 100vh;

      h1,
      h2 {
         text-align: center;
         padding-top: 50px;
      }

      p {
         text-align: center;
         font-size: 18px;
      }
   }
}

.cart-full {
   &-container {
      padding: 0 10rem;
      min-height: 100vh;
   }
}
