.carousel-screen {
   padding: 10px;

   .slick-slide {
      padding: 5px;

      .ui.image:hover {
         cursor: pointer !important;
         opacity: 0.8;
      }
   }

   .slick-arrow {
      z-index: 1;

      &:before {
         font-size: 50px;
         color: $font-honey;

         @media (max-width: 992px) {
            font-size: 40px;
         }
      }

      &.slick-next {
         right: 30px;

         @media (max-width: 992px) {
            right: 18px;
         }

         @media (max-width: 576px) {
            right: 22px;
         }
      }

      &.slick-prev {
         left: 1px;
      }
   }
}

.bordeCarousel {
   border: 1px solid #7b7d7d;
   padding: 10px;
}
