// Principal Colors
$chocolate: #2e2625;
$cocoa: #412726;
$red-wine: #7c1626;
$honey: #d37b00;
$gold: #eeac36;
$yellow: #f5db7c;
$marmol: #f7f5f6;
$grey-marmol: #eeeeee;
$grey-marmol-dark: #f3f3f3;

// Font Colors
$font-chocolate: #2e2625;
$font-cocoa: #412726;
$font-red-wine: #7c1626;
$font-honey: #d37b00;
$font-gold: #eeac36;
$font-yellow: #f5db7c;
$font-marmol: #f7f5f6;
$font-grey-marmol: #eeeeee;
$font-grey-marmol-dark: #f3f3f3;
$font-white: #ffffff;
$font-black: #000000;

// Border Colors
$border-chocolate: #2e2625;
$border-cocoa: #412726;
$border-red-wine: #7c1626;
$border-honey: #d37b00;
$border-gold: #eeac36;
$border-yellow: #f5db7c;
$border-marmol: #f7f5f6;
$border-grey-marmol: #eeeeee;
$border-grey-marmol-dark: #f3f3f3;
$border-white: #ffffff;
$border-black: #000000;

// Background Colors
$background-chocolate: #2e2625;
$background-cocoa: #412726;
$background-red-wine: #7c1626;
$background-honey: #d37b00;
$background-gold: #eeac36;
$background-yellow: #f5db7c;
$background-marmol: #f7f5f6;
$background-grey-marmol: #eeeeee;
$background-grey-marmol-dark: #f3f3f3;
$background-white: #ffffff;
$background-black: #000000;

// Alert Colors
$success: #69af00;
