// Principal Colors
$chocolate: #2e2625;
$cocoa: #412726;
$red-wine: #7c1626;
$honey: #d37b00;
$gold: #eeac36;
$yellow: #f5db7c;
$marmol: #f7f5f6;
$grey-marmol: #eeeeee;

// Font Colors
$font-chocolate: #2e2625;
$font-cocoa: #412726;
$font-red-wine: #7c1626;
$font-honey: #d37b00;
$font-gold: #eeac36;
$font-yellow: #f5db7c;
$font-marmol: #f7f5f6;
$font-grey-marmol: #eeeeee;
$font-white: #ffffff;
$font-black: #000000;

// Border Colors
$border-chocolate: #2e2625;
$border-cocoa: #412726;
$border-red-wine: #7c1626;
$border-honey: #d37b00;
$border-gold: #eeac36;
$border-yellow: #f5db7c;
$border-marmol: #f7f5f6;
$border-grey-marmol: #eeeeee;
$border-white: #ffffff;
$border-black: #000000;

// Background Colors
$backgroud-chocolate: #2e2625;
$backgroud-cocoa: #412726;
$backgroud-red-wine: #7c1626;
$backgroud-honey: #d37b00;
$backgroud-gold: #eeac36;
$backgroud-yellow: #f5db7c;
$backgroud-marmol: #f7f5f6;
$backgroud-grey-marmol: #eeeeee;
$backgroud-white: #ffffff;
$backgroud-black: #000000;

// Alert Colors
$success: #69af00;
