.footer-terms {
   padding: 0 10rem;
   background-color: $background-grey-marmol;

   &-container {
      padding: 3rem 0;
      &_content {
         display: flex;
         justify-content: space-between;
         align-items: center;

         &_left,
         &_right {
            display: flex;
            align-items: center;

            p {
               font-size: 1.2rem;
               margin: 0;
            }
         }

         &_left {
            i {
               font-size: 1.2rem !important;
            }
         }
      }
   }
}
