.footer-terms {
   padding: 0 10rem;
   background-color: $background-grey-marmol;

   &_modal {
      &-button {
         display: flex;
         justify-content: flex-end;

         .ui.primary.button {
            background-color: $background-chocolate !important;
         }
      }
   }

   &-container {
      padding: 3rem 0;
      &_content {
         display: flex;
         justify-content: space-between;
         align-items: center;

         &_left,
         &_right {
            display: flex;
            align-items: center;

            a {
               font-size: 1.2rem;
               margin: 0;
               color: $font-chocolate;

               &:hover {
                  color: $font-chocolate;
                  cursor: pointer;
               }
            }
         }

         &_left {
            i {
               font-size: 1.2rem !important;
            }
         }
      }
   }
}
