.order {
   display: flex;
   justify-content: space-between;
   height: 100px;
   margin-bottom: 10px;
   background-color: $background-marmol;
   box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

   &:last-of-type {
      margin-bottom: 0;
   }

   &__info {
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
         height: 100%;

         .ui.image {
            height: 100%;
            margin-right: 20px;
         }
      }

      &-data {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;

         > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
               font-size: 14px;
               margin-bottom: 5px;
            }
         }
      }

      &-other {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-end;
         padding: 10px;

         &-date {
            margin: 0 20px 0 0;
            margin-right: auto;
            width: 125px;

            i {
               padding-left: 20px;
               color: $font-honey;
            }
         }
      }
   }
}
