.popular-products {
   padding: 5rem 0;

   &_container {
      h1 {
         text-align: center;
         color: $font-chocolate;
         font-size: 2.5rem;
         font-family: 'Valencia';
         padding-bottom: 2rem;
      }

      &__list {
         &-not-found {
            h3 {
               text-align: center;
               padding-top: 2rem;
               font-size: 2rem;
               font-family: 'Open Sans';
               color: $font-chocolate;
            }
         }
      }
   }
}
