.change-email-form {
   padding: 20px 15px;

   > h4 {
      color: $font-honey;
      font-size: 22px;

      > span {
         color: $font-gold;
         font-size: 16px;
      }
   }

   > form {
      text-align: center;

      .submit {
         padding: 12px 60px;
      }
   }
}
