.menu {
   .display-user {
      @media (max-width: 992px) {
         display: flex;
         flex-direction: column;
      }
   }

   img {
      height: 70px;
      transition: all 0.5s;

      &:hover {
         transform: translateX(-15px);
      }
   }

   @media (max-width: 768px) {
      .bg-light {
         background-color: $background-chocolate !important;
      }

      .navbar-toggler {
         color: rgba($color: $font-grey-marmol, $alpha: 0.9) !important;
         border-color: rgba($color: $border-marmol, $alpha: 0.4) !important;
      }
   }

   .hr-user {
      color: $font-chocolate;
      @media (max-width: 768px) {
         color: $font-marmol;
      }
   }

   .hr-no-user {
      color: $font-marmol;
   }

   .ui.menu {
      border: 0px;
      box-shadow: none;
      background: transparent;
      font-family: 'Valencia', Helvetica, sans-serif;

      @media (max-width: 768px) {
         display: flex;
         flex-direction: column;
      }

      .icon {
         margin-right: 10px !important;
         color: $font-cocoa;

         @media (max-width: 1200px) {
            margin-right: 5px !important;
         }

         @media (max-width: 992px) {
            margin-right: 10px !important;
         }

         @media (max-width: 768px) {
            color: $font-grey-marmol;
         }
      }

      .item {
         color: $font-cocoa;
         border-radius: 0px !important;

         @media (max-width: 1200px) {
            padding: 0 8px;
         }

         @media (max-width: 992px) {
            padding: 1rem;

            .ui.red.circular.floating.label {
               left: 18% !important;
               top: 0 !important;
            }
         }

         @media (max-width: 768px) {
            color: $font-grey-marmol;

            .ui.red.circular.floating.label {
               left: 25% !important;
            }
         }

         @media (max-width: 576px) {
            .ui.red.circular.floating.label {
               left: 38% !important;
            }
         }

         &:hover {
            color: $font-white;
            background-color: $background-honey;

            &::before {
               background-color: $background-honey;
            }
         }

         &::before {
            background: none;
         }

         &.m-0 i {
            margin: 0px !important;
         }
      }
   }
}
