.menu {
   .ui.menu {
      border: 0px;
      box-shadow: none;
      background: transparent;
      font-family: 'Valencia', Helvetica, sans-serif;

      @media (max-width: 992px) {
         display: flex;
         flex-direction: column;
      }

      .icon {
         margin-right: 10px !important;
         color: $font-cocoa;

         @media (max-width: 1200px) {
            margin-right: 5px !important;
         }

         @media (max-width: 992px) {
            margin-right: 10px !important;
         }
      }

      .item {
         color: $font-cocoa;
         border-radius: 0px !important;

         @media (max-width: 1200px) {
            padding: 0 8px;
         }

         @media (max-width: 992px) {
            padding: 1rem;

            .ui.red.circular.floating.label {
               left: 18% !important;
               top: 0 !important;
            }
         }

         &:hover {
            color: $font-white;
            background-color: $background-honey;

            &::before {
               background-color: $background-honey;
            }
         }

         &::before {
            background: none;
         }

         &.m-0 i {
            margin: 0px !important;
         }
      }
   }
}
