.menu {
   background-color: $background-grey-marmol;
   border-radius: 0px;

   &-container {
      padding-left: 10rem;
      padding-right: 10rem;
   }

   .ui.grid {
      margin: 0px;
   }

   &__left,
   &__right {
      padding: 0 !important;
      display: flex !important;
      align-items: center;

      .ui.menu {
         border: 0px;
         box-shadow: none;
         height: 100%;
         background: transparent;
         font-size: 1.1rem;
         font-family: 'Valencia', Helvetica, sans-serif;

         .icon {
            margin-right: 10px !important;
            color: $font-cocoa;
         }

         .item {
            color: $font-cocoa;
            border-radius: 0px !important;

            &:hover {
               color: $font-white;
               background-color: $background-honey;

               &::before {
                  background-color: $background-honey;
               }
            }

            &::before {
               background: none;
            }

            &.m-0 i {
               margin: 0px !important;
            }
         }
      }
   }

   &__right {
      display: flex;
      justify-content: flex-end;
   }
}
