.main-banner {
   &_container {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      min-height: calc(100vh - 134px);
      background-image: url('/marble-white.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &-content {
         position: relative;

         img {
            height: 600px;
            width: 100%;
            object-fit: cover;
            object-position: center;
         }

         &_btn {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);

            .ui.button.primary {
               font-family: 'Open Sans', Helvetica, sans-serif;
               background-color: $background-chocolate;
               border: 1px solid $background-chocolate;
               color: $font-white;
               font-size: 18px;
               padding-left: 4rem;
               padding-right: 4rem;

               &:hover {
                  background-color: $background-honey !important;
                  color: $font-marmol !important;
                  border-color: $border-gold !important;
               }

               &:focus {
                  background-color: $background-honey !important;
                  color: $font-marmol !important;
                  border-color: $border-gold !important;
               }
            }
         }
      }
   }
}
