.main-banner-corporate {
   &-container {
      background-image: url('/corporate-banner.webp');
      background-position: bottom;
      background-size: cover;
      background-repeat: no-repeat;

      &__banner {
         background-color: rgba($color: $background-chocolate, $alpha: 0.6);
         padding: 0 10rem;

         .nine.wide.column {
            padding: 0 !important;
         }

         &_left {
            padding-top: 5rem;

            h1 {
               font-family: 'Valencia', Helvetica, sans-serif;
               font-size: 3rem;
               color: $font-grey-marmol;
            }

            p {
               font-family: 'Open Sans', Helvetica, sans-serif;
               font-size: 1.5rem;
               color: $font-grey-marmol;
               text-align: justify;
               padding-top: 1rem;
               padding-bottom: 5rem;
            }
         }
      }
   }
}
