.boutique {
   &-container {
      padding-top: 3rem;

      @media (max-width: 768px) {
         padding-top: 0;
      }

      &_row {
         &-col {
            @media (max-width: 768px) {
               padding: 0 !important;
            }

            &-mobile {
               @media (max-width: 768px) {
                  position: absolute;
                  left: 0;
                  z-index: 999;
                  width: 100%;
               }
            }

            &-products {
               display: flex;
               flex-direction: column;
               justify-content: space-between;

               @media (max-width: 768px) {
                  padding-top: 3.5rem;
               }
            }
         }
      }
   }
}
