.events {
   .content {
      padding-top: 20px;
   }

   &-container {
      margin-top: 3rem;
      min-height: 100vh;

      &_info {
         padding: 0 10rem;

         &-description {
            padding-top: 2rem;
            h2 {
               font-family: 'Flama', Helvetica, sans-serif;
               text-align: center;
               color: $font-cocoa;
               font-size: 4rem;
            }

            p {
               font-family: 'Open Sans';
               text-align: justify;
               font-size: 1.5rem;
               color: $font-cocoa;
            }
         }
      }

      .carousel-screen,
      .slick-arrow {
         padding: 0 10rem;
      }

      .carousel-screen {
         margin: 5rem 0;
         .slick-slide {
            .ui.image:hover {
               cursor: auto !important;
               opacity: 1;
            }
         }

         .slick-arrow {
            z-index: 1;

            &:before {
               font-size: 50px;
               color: $font-cocoa;
            }

            &.slick-next {
               right: 35px;
            }

            &.slick-prev {
               left: -20px;
            }
         }
      }
   }
}
