.wishlist {
   &-container {
      min-height: 100vh;

      &__block {
         .title {
            width: max-content;
            background-color: $background-cocoa;
            color: $font-white;
            padding: 5px 10px;
            border-radius: 5px 5px 0 0;
         }

         .data {
            padding: 1rem;
            border: 1px solid $border-grey-marmol;

            &__not-found {
               text-align: center;
               padding: 20px 0;
            }

            .list-products {
               .ui.grid {
                  margin: 0;
               }
            }
         }
      }
   }
}
