.xocobel {
   &-container {
      &-banner {
         background-image: url('/xocobel-banner.jpeg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;

         &-info {
            background-color: rgba($color: $background-chocolate, $alpha: 0.7);
            padding: 10rem 0;

            p {
               @media (max-width: 576px) {
                  padding: 0 2rem;
               }
            }
         }
      }

      &-band,
      &-band-foot {
         background-color: $background-marmol;

         p {
            @media (max-width: 576px) {
               padding: 0 2rem;
            }
         }
      }

      &-band,
      &-band-foot,
      &-grid,
      &-banner-info {
         h3 {
            font-family: 'Valencia', Helvetica, sans-serif;
            color: $font-cocoa;
         }

         p {
            font-family: 'Open Sans', Helvetica, sans-serif;
            color: $font-cocoa;
         }
      }

      &-grid-desc {
         @media (max-width: 768px) {
            padding: 5rem 0;
            text-align: center;
         }
      }
   }
}
