.footer-links {
   padding: 3rem 0;
   background-color: $background-grey-marmol;

   @media (max-width: 768px) {
      padding: 0rem;
   }

   &-container {
      &_row {
         &-col {
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 576px) {
               flex-direction: row;
               justify-content: space-between;
               align-items: baseline;
            }

            img {
               @media (max-width: 576px) {
                  padding: 2rem 2rem 0 2rem;
               }
            }
         }

         .desc {
            @media (max-width: 768px) {
               padding-top: 3rem;
            }
         }
      }

      &_top-list,
      &_bottom-list {
         h3 {
            font-family: 'Valencia', Helvetica, sans-serif;
            color: $font-chocolate;
            font-size: 1.5rem;
            margin: 0;
            padding-bottom: 5px;
         }
      }

      &_top-list {
         ul {
            margin: 0;
            padding: 0;
            li {
               list-style: none;
               font-size: 1.1rem;
               padding: 5px 0;
               color: $font-cocoa;

               a {
                  color: $font-cocoa;
               }
            }
         }
      }

      &_bottom-list {
         h3 {
            padding-top: 3rem;
         }

         .list-icons {
            padding-top: 1rem;
            i {
               color: $font-cocoa;
               font-size: 2rem !important;
            }
         }
      }
   }
}
