.list-address {
   padding: 10px;
}

.address {
   padding: 10px;
   margin: 10px 0px 10px 0px;
   border: 1px solid $border-honey;
   border-radius: 5px;

   p {
      margin-bottom: 5px;

      &:first-of-type {
         font-weight: bold;
         border-bottom: 1px solid $border-honey;
         margin-bottom: 15px;
         font-size: 20px;
      }
   }

   .actions {
      margin-top: 20px;

      .ui.button.primary {
         background-color: $background-chocolate;
         color: $font-white;
      }
   }
}
