.iconic-products {
   padding: 5rem 0;

   @media (max-width: 576px) {
      padding-top: 1rem;
   }

   &_container {
      &_row {
         &-col {
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;

            &-content {
               position: relative;
               height: 100%;

               @media (max-width: 992px) {
                  padding: 1rem;
               }

               .ui.fluid.image {
                  height: 100% !important;
               }

               &-description {
                  position: absolute;
                  top: 2.5rem;
                  left: 3rem;

                  @media (max-width: 399px) {
                     top: 1.5rem;
                     left: 2rem;
                  }

                  p {
                     font-family: 'Valencia', Helvetica, sans-serif;
                     font-size: 2.8rem;
                     color: $font-marmol;
                     margin: 0;

                     @media (max-width: 768px) {
                        font-size: 2rem;
                     }

                     @media (max-width: 399px) {
                        font-size: 1.5rem;
                     }
                  }
               }

               &-btnAction {
                  &-left {
                     position: absolute;
                     bottom: 2.5rem;
                     left: 3rem;

                     @media (max-width: 399px) {
                        bottom: 1.5rem;
                        left: 2rem;
                     }

                     .ui.button.primary {
                        font-family: 'Open Sans', Helvetica, sans-serif;
                        background-color: transparent;
                        border: 1px solid $background-marmol;
                        color: $font-marmol;
                        font-size: 18px;
                        padding-left: 4rem;
                        padding-right: 4rem;
                        margin: 0;

                        @media (max-width: 768px) {
                           font-size: 14px;
                           padding-left: 2rem;
                           padding-right: 2rem;
                        }

                        &:hover {
                           color: $font-marmol !important;
                           background-color: $background-chocolate !important;
                           border: 1px solid $background-chocolate !important;
                        }

                        &:focus {
                           background-color: $background-honey !important;
                           color: $font-marmol !important;
                           border-radius: 0 !important;
                           border: none !important;
                        }
                     }
                  }

                  &-right_1,
                  &-right_2 {
                     position: absolute;
                     right: 3rem;
                     bottom: 2.5rem;

                     @media (max-width: 399px) {
                        right: 2rem;
                        bottom: 1.5rem;
                     }

                     .ui.button.primary {
                        font-family: 'Open Sans', Helvetica, sans-serif;
                        background-color: $background-marmol;
                        border: 1px solid $background-marmol;
                        color: $font-chocolate;
                        font-size: 18px;
                        padding-left: 4rem;
                        padding-right: 4rem;
                        margin: 0;

                        @media (max-width: 768px) {
                           font-size: 14px;
                           padding-left: 2rem;
                           padding-right: 2rem;
                        }

                        &:hover {
                           color: $font-marmol !important;
                           background-color: $background-chocolate !important;
                           border: 1px solid $background-chocolate !important;
                        }

                        &:focus {
                           background-color: $background-honey !important;
                           color: $font-marmol !important;
                           border-radius: 0 !important;
                           border: none !important;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
