.summary-cart {
   .title {
      width: max-content;
      background-color: $background-cocoa;
      color: $font-white;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
   }

   .data {
      background-color: $background-grey-marmol;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      // padding: 15px;
   }

   .table {
      background-color: $background-white;
   }

   &__product {
      td {
         text-align: center !important;

         &:first-of-type {
            display: flex !important;
            align-items: center !important;

            img {
               height: 150px;
               padding-right: 20px;

               @media (max-width: 768px) {
                  display: none;
               }
            }
         }
      }
   }

   &__resume {
      td {
         &:last-of-type {
            text-align: center !important;
         }
      }

      .total {
         font-size: 1.5rem;
      }

      .total-price {
         color: $font-honey;
         font-weight: bold;
         font-size: 20px;
      }

      .clear {
         border-bottom: 1px solid $background-grey-marmol !important;
         border-left: 1px solid $background-grey-marmol !important;
      }
   }
}
